table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}

header {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
	display: block;
}

.wrap{
	width:100%;
	margin:0 auto;
	-moz-transition:all .2s linear;
	-webkit-transition:all .2s linear; 
	-o-transition:all .2s linear; 
	-ms-transition:all .2s linear;
}

.wrap ul {
	background-color: #505050;
}

.wrap li.menu {
	color: #ffffff;
	display: inline-block;
	padding: 14px 16px;
	font-family: Tahoma;
}

.wrap li.menu:hover {
	background-color: #303030;
	cursor:pointer;
}

.wrap li.login {
	background-color: #ff7260;
	float:right;
}

.wrap li.login a {
	color: #ffffff;
	text-decoration: none;
}

div.product {
	font-family: Tahoma;
	width: 180px;
	float:left;
	border: 1px solid #777;
	margin: 10px;
	padding: 5px;
}

div.productname {
	text-align: center;
	color: #129793;
	font-weight: bold;
	padding: 5px 0px;
}

div.productprice {
	color: #FF7260;
	padding: 1px 0px;	
}

div.productprice::before {
	content: "Price: ";
}

div.pcategory {
	padding: 1px 0px;
	color: #4CAF50;
}

div.pcategory::before {
	content: "Category: ";
}

div.description {
	font-style: italic;
	color: #505050;
	padding: 1px 0px;
}

div.operation {
	display: block;
	clear: left;
}

div.operation ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}


div.operation li.update{
	float: left;
}

div.operation li.remove{
	float: right;
}

div.operation button {
	font-family: Tahoma;
	color: #fff;
	padding: 5px;
	margin: 4px;
	display: inline-block;
	border: none;
	background-color: #505050;
}

div.footer {
	clear: left;
}

